body{
    margin: 0;
    padding: 0;
    background-color: #2f3046;
    color: aliceblue;
    
    
}
nav{
    display: flex;
    margin-top: 10px;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    background-color:#2f3046;
}
.logo{
    width: 80px;
    padding-top: 10px;

    
}
.navlinks{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    background-color: #2f3046;
}
.navlinks li {
    
    list-style: none;
    padding: 10px 20px;
    position: relative;
    transition:all .5s ease;
    border-radius: 5px;
    margin-top: 10px;
     
}

.shortlinks::after{
    content: '';
    width:0%;
    height: 3px;
    background: white;
    position: absolute;
    bottom: 0%;
    left: 50%;
    border-radius: 10px;

    transition: all .5s ease;
}
.shortlinks:hover::after{
    left: 0%;
    width: 100%;
    
}
.navlinks li a{
    text-decoration: none;
    color: aliceblue;
    transition: .3s;
    font-weight: bold;
    font-size: 20px;
}
 .navlinks li  a:hover{
    
    color: aqua ;
}  
/* .toggle_btn {
    width: 35px;
    position: absolute;
    right: 30px;
    top: 25px;
    cursor: pointer;
    display: none;
} */
/* .toggle_btn {
    display:block;
    width: 100%;
    height: 2px;
    background-color: aliceblue;
    font-weight: bold;
    color: #353b48;
    margin-bottom: 8px;
    
   
} */
input{
    display: none;
}
#bar,#cancel{
    
    position: absolute;
    font-size: 40px;
    right: 50px;
    top: 20px;
    align-items: center;
    cursor: pointer;
    display: none;
} 

/* profile///////////////////////////// */
.profile{
    display: flex;
    justify-content:space-between;
    margin-top: 20px;
    align-items: center;
}
.profile_details{
    width: 70%;
}
.name{
    color: aliceblue;
    font-weight: bold;
    font-size: 60px; 
}


@keyframes animate{
    40%,60%{
        left: 100%;
    }
    100%{
        left: 0%;
    }
}
h3{
    color: aliceblue;
    font-size: 34px;
    
}
h5{
    color: rgb(150, 145, 145);
}
.profile_details h5{
    margin-top: 30px;
    margin-bottom: 200px;
}
.profile_details h1{
    font-size: 80px;
    margin-bottom: 30px;
}

.image img{
    width: 50%;
    position: relative;
    border-radius: 500px;
    margin-left: 30%;
    margin-top: 0px;  
    animation: amar_sobi 1.5s infinite;
    padding: 0px;
    box-shadow:0 40px 48px rgba(64, 252, 227, 0.25),0 30px 30px rgba(4, 193, 250, 0.22) ; 
}
@keyframes amar_sobi{
    50%{
        margin-top: 20px;
    }
}

/* @keyframes image_img{
    50%{
        top:10px;
        bottom: 10px;
    }
    50%{
        top:100px;
        bottom: 100px;
    }
} */
 .gmail i,.phone i{
padding: 5px;
background-color: rgb(71, 211, 211);
border-radius: 5px;
}
.gmail{
    margin-bottom: 10px;
    align-items: center;
}
.about{
    
    width:50%;
    text-align: center;
    
}
.about i{
    color: aquamarine;
    padding-left: 30px;
    
}
.skills_parent{
    grid-template-columns: auto auto;
    display: grid;
    column-gap: 100px;
    justify-content: center;
    margin-top: 100px;
}
.more_projects{
    display: flex;
    justify-content: end;
    margin-bottom: 0px;
    font-weight: bold;
}
.skills{
    width: 500px;
    margin: 20px 0;
    padding: 30px ;
    box-shadow: 0 4px 38px rgba(0, 0, 0, 0.25),0 10px 10px rgba(0, 0, 0, 0.22);
    border-radius: 10px;
}
#projects li{
    font-weight: bold;
    padding: 5px 20px;

}
#projects li a{
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    padding: 5px 20px;
    border-radius: 10px;
    font-weight: bold;
    margin-left: 10px;
    transition: .5s ease-in;
}
#projects li a:hover{
    color: #38d6f1;
    background-color: #fff;
}
.skills_tittle{
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid aquamarine;
    margin-bottom: 60px;
}
.bar{
    background: #353b48;
    display: block;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.bar span{
    height: 20px;
    float: left;
    background: linear-gradient(125deg,rgba(236,0,140,1)0%,rgba(252,103,103,1)100%);

}
li{
    list-style: none;
}
.html{
    width: 97%;
    animation: html 3s;
}
 
#projects li a{
    font-size: 18px;
    padding: 2px;
    border-radius: 10px;
    font-weight: bold;
    margin-left: 10px;
    transition: .5s ease-in;
}
.skills_per_html{
    position: absolute;
    margin-top: -60px;
    margin-left: 400px;
    font-weight: bold;
    padding: 5px;
    background: linear-gradient(125deg,rgba(236,0,140,1)0%,rgba(252,103,103,1)100%);
    border-radius: 15px;
    animation: html_per 3s;
}
.skills_per_css{
    position: absolute;
    margin-top: -60px;
    margin-left: 395px;
    font-weight: bold;
    padding: 5px;
    background: linear-gradient(125deg,rgba(236,0,140,1)0%,rgba(252,103,103,1)100%);
    border-radius: 15px;
    animation: css_per 3s;
}
.skills_per_javascript{
    position: absolute;
    margin-top: -40px;
    margin-left: 200px;
    padding: 5px;
    background: linear-gradient(125deg,rgba(236,0,140,1)0%,rgba(252,103,103,1)100%);
    border-radius: 15px;
    font-weight: bold;
    animation: java_per 3s;
}
.skills_per_react{
    position: absolute;
    margin-top: -60px;
    margin-left: 200px;
    padding: 5px;
    background: linear-gradient(125deg,rgba(236,0,140,1)0%,rgba(252,103,103,1)100%);
    border-radius: 15px;
    font-weight: bold;
    animation: java_per 3s;
}
.skills_per_php{
    position: absolute;
    margin-top: -60px;
    padding: 5px;
    background: linear-gradient(125deg,rgba(236,0,140,1)0%,rgba(252,103,103,1)100%);
    border-radius: 15px;
    margin-left: 110px;
    font-weight: bold;
    animation: php_per 3s;
}
 
@keyframes  html_per{
    0%{
        margin-left: 10px;
    }
    100%{
        margin-left:400px;
    }
}
@keyframes  css_per{
    0%{
        margin-left: 10px;
    }
    100%{
        margin-left:395px;
    }
}
@keyframes  java_per{
    0%{
        margin-left: 10px;
    }
    100%{
        margin-left:200px;
    }
}
@keyframes  php_per{
    0%{
        margin-left: 10px;
    }
    100%{
        margin-left:110px;
    }
}
@keyframes  react_per{
    0%{
        margin-left: 10px;
    }
    100%{
        margin-left:170px;
    }
}
.skills li h3{
    font-size: 15px;
    padding: 10px;
}

.css{
    width: 95%;
    animation: css 3s;
}

.javascript{
    width: 50%;
    animation: javascript 3s;
}
.react{
    width: 50%;
    animation: react 3s;
}

.php{
    width: 30%;
    animation: php 3s;
}
 
@keyframes html{
    0%{
        width: 0%;
    }
    100%{
        width: 97%;
    }
}
@keyframes css{
    0%{
        width: 0%;
    }
    100%{
        width: 95%;
    }
}
@keyframes javascript{
    0%{
        width: 0%;
    }
    100%{
        width: 50%;
    }
}
@keyframes react{
    0%{
        width: 0%;
    }
    100%{
        width: 50%;
    }
}
@keyframes php{
    0%{
        width: 0%;
    }
    100%{
        width: 30%;
    }
}
 
.about_parent{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
}
.about_me{
    display: flex;
    justify-content: center;
    width: 50%;
    padding: 15px;
    box-shadow: 0 4px 38px rgba(0, 0, 0, 0.25),0 10px 10px rgba(0, 0, 0, 0.22); 
}
.about_tittle{
    text-align: center;
    border-bottom: 1px solid aquamarine;
    padding: 10px;
    margin-bottom: 10px;
}
#check_read{
    display: none;
}
.hide_content{
    display: none;

}

#read_more{
    font-size: 15px;
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;
}
#read_less{
    display: none;
    font-size: 15px;
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;
    
}
#check_read:checked~#read_more{
    
    display: none;
    transition: all .5s ease;
}
#check_read:checked~#read_less{
    display: block;
    transition: all .5s ease;

}
#check_read:checked~.hide_content{
    display: block;
    transition: all .5s ease;


}
.contact_virtual{
    background-color: #353b48;
    margin-top: 50px;
    padding: 50px;
    text-align: center;
}
.contact_tittle{
    margin-bottom: 90px;
    padding-bottom: 20px;
    border-bottom: 1px solid aquamarine;
}
.contact_virtual a{
    text-decoration: none;
    color: aliceblue;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    align-items: center;
   
    
}
.contact_virtual a i{
    padding: 10px;
    font-size: 22px;

}
.contact_virtual a:hover i {
    transform: rotate(10deg);
    font-size: 29px;
    transition:all .5s;
}
.contact_virtual a:hover  {
    color: aquamarine;
    transition: all .5s;
    
}

/* dynamic tex */
.name_titlle{
    color: rgb(220, 54, 220);
}

.text-second{
    color: rgb(220, 54, 220);
    font-weight: bold;
    
}
form{
    
    display: flex;
    justify-content: center;
    margin-top: 50px;
    
}
input.form_gmail{
    background:#fff;
    display: block;
    padding: 10px 15px;
    border-radius: 10px;
    width: 600px;
    margin-bottom: 20px;
    border: none;
    outline: none;
    
}
#your_opinion h2{
    text-align: center;
    padding:20px 0px ;
     
     
    
}
.opinion_box{
    box-shadow: 0 4px 38px rgba(0, 0, 0, 0.25),0 10px 10px rgba(0, 0, 0, 0.22); 
    padding: 20px;
    border-radius: 10px;
}
.form_pass{
    background: #fff;
    border: none;
    display: block;
    height: 200px;
    width: 600px;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px 15px;
    outline: none;
    text-transform: capitalize;
}
.submit{
   position: relative;
   display: inline-block;
   padding: 10px 20px;
   margin: 20px 0;
   color: #03e9f4;
   text-decoration: none;
   text-transform: uppercase;
   transition: .5s;
   border-radius: 10px;
   letter-spacing: 2px;
   font-weight: bold;
   overflow: hidden;
   margin-left: 450px;
   box-shadow: 0 4px 38px rgba(0, 0, 0, 0.25),0 10px 10px rgba(0, 0, 0, 0.22); 

}
.submit:hover{
background: aqua;
color:black;
box-shadow: 0 0 5px #03e9f4,
            0 0 25px #03e9f4,
            0 0 50px #03e9f4,
            0 0 200px #03e9f4;      
    }
    .submit span{
        position: absolute;
        display: block;
    }
.submit span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,aqua);
    animation: animate1 1.5s linear infinite;
}
@keyframes animate1 {
    0%{
         left: -100%;
    }
    50%,100%{
          left: 100%;
    }
}
.submit span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,aqua);
    animation: animate2 1.5s linear infinite;
}
@keyframes animate2 {
    0%{
         top: -100%;
    }
    50%,100%{
          top: 100%;
    }
}

.submit span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,aqua);
    animation: animate3 1.5s linear infinite;
}
@keyframes animate3 {
    0%{
         right: -100%;
    }
    50%,100%{
          right: 100%;
    }
}
.submit span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height:100%;
    background: linear-gradient(360deg,transparent,aqua);
    animation: animate4 1.5s linear infinite;
}
@keyframes animate4 {
    0%{
         bottom: -100%;
    }
    50%,100%{
          bottom: 100%;
    }
}


/* ////////////////////////////////////    <--      mobile varsion       -->    /////////////////////////////////////////////////////////// */
@media (max-width:858px){
    nav{
        display: contents;
    }
 .navlinks {
    background-color:  #2f3046;    
    display: none;
    height: 90vh;
    margin-top: 0px;
}
.navlinks li {  
    padding: 20px 10px; 
    text-align: center;
    
    
} 
.navlinks li a{
    font-size: 40px;
}
#navbar.show {
   
    display:block;

}  
#bar{
    display: block;
}
#cancel{
    position: fixed;
}
 
#check:checked~label #bar{
    display: none;
   }
   #check:checked~label #cancel{
    display: block;
   }
 

h5.hi {
    margin-top: 90px;
    margin-bottom: 50px;
}
.image img{
    position: absolute;
    width: 50%;
    margin-left: -23%;
    margin-top: 130px;
    animation: amar_sobi 1.5s infinite;
    
}
.profile{
    
flex-direction:column-reverse ;
   

}

@keyframes amar_sobi{
    
    50%{
         margin-top: 120px;
          
         
        
    }
     
}
.profile_details{
    margin-top:300px;
}

.work{
    
    font-size: 19px;
    font-weight: bold;
    text-align: center;

}
.name{
    margin-bottom: 30px;
    display: flex;
    justify-content:  space-between;
    font-size: 35px;
    text-align: center;
    
}

.text-second{
    color: rgb(223, 19, 223);
    font-weight: bold;
    font-size: 20px;
}
.gmail,.phone{
    
    font-size: 20px;
    align-items: center;
}
.gmailAndohone{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.skills_parent{
    grid-template-columns: auto;
}
.skills_per_html{
    margin-top: -60px;
    margin-left: 230px;
    animation: html_per 3s;
    
}
.skills_per_css{
    margin-top: -60px;
    margin-left: 220px;
    animation: css_per 3s;
}
.skills_per_javascript{
    margin-top: -40px;
    margin-left: 110px;
    animation: java_per 3s;
}
.skills_per_react{
    margin-top: -60px;
    margin-left: 110px;
    animation: react_per 3s;
}

.skills_per_php{
    margin-top: -60px;
    margin-left: 60px;
    animation: php_per 3s;
}
 
 
@keyframes  html_per{
    0%{
        margin-left: 10px;
    }
    100%{
        margin-left:230px;
    }
}
@keyframes  css_per{
    0%{
        margin-left: 10px;
    }
    100%{
        margin-left:220px;
    }
}

@keyframes  java_per{
    0%{
        margin-left: 10px;
    }
    100%{
        margin-left:110px;
    }
}
@keyframes  react_per{
    0%{
        margin-left: 10px;
    }
    100%{
        margin-left:110px;
    }
}
@keyframes  php_per{
    0%{
        margin-left: 10px;
    }
    100%{
        margin-left:60px;
    }
}
 

.skills{
    width: 315px;
}

.about_me{
    width: 88%;
    border-radius: 10px;
}
.contact_virtual a {
    font-size: 14px;
    display: flex;
    justify-content: center;
    
    
}
footer small{
    font-size: 15px;
    
}
.contact_tittle{
    margin-bottom: 20px;
    padding-bottom: 20px;
    
}
.two_site{
    margin-bottom: 50px;
}






input.form_gmail{ 
    width: 350px;
     margin-left: 0px;
    
    
}

.form_pass{
    height: 200px;
    width: 350px;
    margin-bottom: 20px;
    margin-left: 0px;
    
}
.submit{
   position: relative;
   display: inline-block;
   padding: 10px 20px;
   margin: 20px 0;
   color: #03e9f4;
   text-decoration: none;
   text-transform: uppercase;
   transition: .5s;
   border-radius: 10px;
   letter-spacing: 2px;
   font-weight: bold;
   overflow: hidden;
   margin-left: 250px;
   box-shadow: 0 4px 38px rgba(0, 0, 0, 0.25),0 10px 10px rgba(0, 0, 0, 0.22); 

 }

}